@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --FONT: "Libre Baskerville", serif;
    --FS: clamp(1rem, 2.2vh , 1.5rem);

    --BGCOLOR1: #F5EFDC;
    --FONTCOLOR: #333;

    --bs-font-sans-serif: "Libre Baskerville", serif;
    --bs-body-bg:#F5EFDC;
    --bs-body-color: #333;
    --BORDERCOLOR1: #5D3A1A;

}

/* img {
    display: block;
} */

html {
    scroll-behavior: smooth;
}

body {
    color: var(--FONTCOLOR);
    border-color: var(--BORDERCOLOR1);
    background-color: #F5EFDC;
}


img {
    width: 100%;
    height: auto;
    display: block;
}

.brand-img {
    margin: 0;
    padding: 0;
    display: block;
    height: auto;
    width: 4rem;
}

.search-btn {
    border: thin solid black;
}

.search-btn:hover {
    background-color: hsl(0, 2%, 82%);
}

.nav-contain {
    flex-wrap: nowrap !important;
}

.navbar-toggler-icon{
    margin-top: auto;
    margin-bottom: auto; 
}

.show > ul {
    padding: 1rem;
    font-size: 1.5rem;
}

.show > ul > li {
    padding: 1rem;
}

.nav-login {
    font-weight: 600    ;
    text-wrap: nowrap;
}

nav {
    background-color: var(--BGCOLOR1);
    color: var(--FONTCOLOR);
    border-bottom: thin solid;
}

.pattern {
    height: 80px;
    width: 100%;
    background-image: url("./images/patterns2.png");
    background-repeat: repeat;
}

.bookshelf {
    max-width: 160px;
    width: 100%;
    height: auto;
}

.indiv {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.hero {
    /* position: relative; */
    /* min-height: calc(100vh - 97px); */
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


.cozy-img {
    max-width: 100%;
    height: auto;
}

.form-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-wrap form *{
display: block;
/* width: 100%; */
}

.form-wrap form label{
margin-bottom: 5px;
font-size: larger;
font-weight: 700;
/* line-height: 26px;  */
}
.form-wrap form input{
padding: 5px 15px;
border-radius: 5px;
width: 100%;
}

.form-title {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.errorlist {
    color:red;
}

/* #id_username{
margin-bottom: 20px;
} */
/* .form-wrap button{
border-radius: 5px;
cursor: pointer;
text-align: center;
font-size: 16px;
padding: 12px 68px;
font-weight: 700;
border: 1px solid transparent;
margin-top: 30px;
line-height: 26px; 
} */


@media (min-width: 992px) {

    /* .dropdown > .dropdown-menu {
        visibility: hidden;
        opacity: 0;
        right: 0;
        left: auto;
        display: block;
        transition: all 0.1s ease-out;
    }

    .dropdown:hover > .dropdown-menu {
        display: block;
        visibility: visible;
        right: 0;
        left: auto;
        opacity: 1;
        transition: all 0.3s ease-out;
        } */
        .dropdown {
            position: static;
        }
        
        .dropdown-menu {
            border: thin solid var(--BORDERCOLOR1);
            border-top: 0;
            right: 0;
            border-radius:0;
            border-left: 0;
            border-right: 0;
            opacity: 0;
            animation: showBar 0.5 ease-in-out reverse;
        }

        .dropdown-menu.show {
            opacity: 1;
            animation: showBar 0.5s ease-in-out;

        }

        @keyframes showBar {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        .nav-options {
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }

        .nav-options > a {
            text-align: center;
            border-right: solid thin gray;
        }
        .nav-options > a:last-child {
            border:0;
        }

}

/* 
Deep Walnut Brown: #5D3A1A

Creamy Off-White: #F5F5DC

Forest Green: #228B22

Rich Burgundy: #800020

Soft Gold: #D4AF37 */

